<html>
    <body>
        <h1>Welcome, <%= user.name %></h1>
        <hr />
        <p>You logged in through <b><%= user.type %></b>, user ID is <%= user.id %></p>
        <h2>Booking Details</h2>
        <hr />
        <p>Date: <%= booking.date %></p>
        <p>Time: <%= booking.time %></p>
        <p>Table Number: <%= booking.tableNumber %></p>
        <p>Phone Number: <%= booking.phone_number %></p>
        <br />
        <a href="/edit?_id=<%= booking._id %>">Edit</a><br />
        <a href="/delete?_id=<%= booking._id %>">Delete</a><br />
        <a href="/content">Back to List</a>
    </body>
</html>
