<html>
    <body>
        <h1>Welcome, <%= user.name %></h1>
        <hr />
        <p>You logged in through <b><%= user.type %></b>, user ID is <%= user.id %></p>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Date: <input type="date" name="date" required><br />
            Time:
            <select name="time" required>
                <option value="10:00">10:00</option>
                <option value="12:00">12:00</option>
                <option value="14:00">14:00</option>
                <option value="16:00">16:00</option>
                <option value="18:00">18:00</option>
                <option value="20:00">20:00</option>
            </select>
            <br />
            Table:
            <select name="tableNumber" required>
                <% for (var table of availableTables) { %>
                    <option value="<%= table %>">Table <%= table %></option>
                <% } %>
            </select>
            <br />
            Phone Number: <input type="text" name="phone_number" required><br />
            <input type="submit" value="Book Table">
        </form>
        <a href="/content">Cancel</a>
    </body>
</html>
